{% extends 'layout.html' %}
{% block meta_tag %}<meta name="robots" content="noindex,nofollow">{% endblock meta_tag %}

{% block title %}ثبت نام{% endblock title %}

{% block content %}
<div class="row">
    <div class="column contact">
        <p>ثبت نام</p>
        <hr>
        {% for message in messages %}
        <span>{{ message }}</span>
        {% endfor %}
        <form class="contact-form" action="{% url 'config:signup' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="نام کاربری"> <br>
            <input type="email" name="email" placeholder="آدرس ایمیل"> <br>
            <input type="password" name="password" placeholder="رمز عبور"> <br>
            <br><br>
            <input type="submit" id="submit" value="ثبت نام">
        </form>
    </div>
</div>
{% endblock content %}
