{% extends 'layout.html' %}
{% block meta_tag %}<meta name="robots" content="noindex,nofollow">{% endblock meta_tag %}

{% block title %}ارتباط{% endblock title %}

{% block content %}
<div class="row">
    <div class="column contact">
        <p>ارتباط</p>
        <hr>
        <form class="contact-form" action="" method="post">
            <input type="text" id="full_name" name="" value="" placeholder="نام و نام خانوادگی">
            <input type="email" id="email_address" name="" value="" placeholder="آدرس ایمیل"> <br>
            <input type="text" id="" name="subject" value="" placeholder="موضوع"> <br>
            <textarea name="name" id="content" rows="10" cols="80" placeholder="پیام خود را وارد کنید ..."></textarea> <br><br>
            <input type="submit" id="submit" name="" value="ارسال">
        </form>
    </div>
</div>
{% endblock content %}
