{% extends 'layout.html' %}
{% block meta_tag %}<meta name="robots" content="noindex,nofollow">{% endblock meta_tag %}

{% block title %}ارتباط{% endblock title %}

{% block content %}
<div class="row">
    <div class="column contact">
        <p>ارتباط</p>
        <hr>
        {% for message in messages %}
        <span>{{ message }}</span>
        {% endfor %}
        <form class="contact-form" action="{% url 'config:contact' %}" method="post">
            {% csrf_token %}
            <input type="text" id="full_name" name="name" placeholder="نام و نام خانوادگی">
            <input type="email" id="email_address" name="email" placeholder="آدرس ایمیل"> <br>

            <select name="subject">
              <option value="انتقاد / پیشنهاد">انتقاد / پیشنهاد</option>
              <option value="گزارش Error / خطای استایل صفحه">گزارش Error / خطای استایل</option>
              <option value="درخواست همکاری">درخواست همکاری</option>
              <option value="پشتیبانی">پشتیبانی</option>
            </select>

            <textarea name="message" id="message" placeholder="پیام خود را وارد کنید ..."></textarea>
            <br>
            <span>پیام شما حتما خوانده می شود و پاسخ به همین ایمیلتان ارسال می گردد (;</span>
            <br><br>
            <input type="submit" id="submit" value="ارسال">
        </form>
    </div>
</div>
{% endblock content %}
