{% extends 'layout.html' %}{% load static %}{% block title %}جستجو برای {{ query }}{% endblock title %}{% block content %}
<div class="row">
    <div class="column posts-single">
        <p>پست های تکی</p>
        <hr>
        {% if single %}
        <ul>
            {% for object in single %}<li><a href="{% url 'post:single_posts_detail' object.id %}">{{ object.title }}</a></li>{% endfor %}
        </ul>
        {% else %}<p>پستی با این عنوان وجود ندارد.</p>{% endif %}
    </div>
    <div class="column posts-serie">
        <p>پست های سریالی</p>
        <hr>
        {% if serie %}
        <ul>
            {% for object in serie %}<li><a href="{% url 'post:serie_posts_detail' object.id %}">{{ object.title }}</a></li>{% endfor %}
        </ul>
        {% else %}<p>پستی با این  وجود ندارد.</p>{% endif %}
    </div>
</div>
{% endblock content %}
