<footer>
    <div class="flex justify-between mt-10 select-none bg-slate-900">
        <div>
            <ul>
                <li>برنامه نویس <a href="" class="hover:border-b-4 border-b-blue-700 font-bold">عمر فتاحی</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li>1402-تا اکنون</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>گیتهاب <a href="" class="hover:border-b-4 border-b-blue-700 font-bold">WEblog Name</a></li>
            </ul>
        </div>
    </div>
</footer>