<header>
    <div class="flex justify-between">
        <div>
            <ul>
                <li><a href="">ورود</a></li>
                <li><a href="">ثبت نام</a></li>
                <li><a href="">نام کاربری</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="">مدیریت</a></li>
                <li><a href="">خروج</a></li>
                <li><a href="">فید</a></li>
            </ul>
        </div>
    </div>
</header>

<nav>
    <div class="flex justify-between mb-10">
        <div>
            <ul>
                <li><a href="">صفحه اصلی</a></li>
                <li><a href="">پست های تکی</a></li>
                <li><a href="">پست های سریالی</a></li>
                <li><a href="">منابع وبلاگ</a></li>
                <li><a href="">ارتباط با مدیریت</a></li>
                <li><a href="">درباره وبلاگ</a></li>
            </ul>
        </div>
    </div>
</nav>
