<nav class="py-0 bg-body-tertiary border-bottom px-3">
  <div class="d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item">
        <a href="#" class="nav-link link-body-emphasis px-2">ورود به حساب</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-body-emphasis px-2">ثبت یک حساب</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-body-emphasis px-2"
          >خوش آمدید کاربر عزیز</a
        >
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-item">
        <a href="#" class="nav-link link-body-emphasis px-2">مدیریت</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-body-emphasis px-2">خروج از حساب</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-body-emphasis px-2">اشتراک فید</a>
      </li>
    </ul>
  </div>
</nav>

<header class="p-3 mb-5">
  <div
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
  >
    <ul
      class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
    >
      <li>
        <a href="{% url 'config:index' %}" class="nav-link px-2">صفحه اول</a>
      </li>
      <li>
        <a href="{% url 'post:single_posts' %}" class="nav-link px-2"
          >پست های تکی</a
        >
      </li>
      <li>
        <a href="{% url 'post:serie_posts' %}" class="nav-link px-2"
          >پست های سریالی</a
        >
      </li>
      <li>
        <a href="{% url 'category:parent_categories' %}" class="nav-link px-2"
          >دسته بندی ها</a
        >
      </li>
      <li>
        <a href="{% url 'config:references' %}" class="nav-link px-2"
          >منابع وبلاگ</a
        >
      </li>
      <li>
        <a href="{% url 'config:contact' %}" class="nav-link px-2"
          >ارتباط با مدیریت</a
        >
      </li>
      <li>
        <a href="{% url 'config:about' %}" class="nav-link px-2"
          >درباره وبلاگ</a
        >
      </li>
    </ul>

    <form
      class="col-8 col-lg-auto mb-3 mb-lg-0 me-lg-3"
      action="{% url 'config:search' %}"
      method="post"
      role="search"
    >
      {% csrf_token %}
      <input
        type="search"
        class="form-control rounded-0"
        placeholder="اینجا جستجو کنید . . ."
        aria-label="Search"
      />
    </form>
  </div>
</header>
