{% extends "layout.html" %} {% block content %}
<div class="row">
  {% for child_category in child %}
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-3 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <h6 class="fw-bold h5 mb-1"><a href="{% url 'category:child_categories' child_category.id %}">{{ child_category.title }}</a></h6>
            <p class="text-muted mb-0">{{ child_category.parent.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
