{% extends 'layout.html' %}

{% block title %}دسته بندی ها{% endblock title %}

{% block content %}
<div class="row">
    <div class="column child">
        <p>دسته بندی ها</p>
        <hr>
        {% if child %}
        {% for objectp in parent %}
        <ul>
            <li>{{ objectp.title }}</li>
            <ol>
            {% for objectc in objectp.child_category.all %}
                <li>
                    {{ objectc.title }}
                </li>
            {% endfor %}
            </ol>
        </ul>
        {% endfor %}
        {% else %}
        <p>دسته بندی برای ارائه وجود ندارد. (پستی نوشته نشده / غیرفعال شده)</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
