/* Scroll Bar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: #fbfbfb;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

/* highlightjs */
pre code {
  font-family: "Vazir Code Hack", "consolas";
  direction: ltr;
}

/* layout.html */
* {
  font-family: "Vazir FD-WOL", "Roboto";
}
