{% extends 'layout.html' %}
{% load static %}

{% block title %}تبلیغات{% endblock title %}

{% block content %}
<div class="row">
    <div class="column advertise">
        <p>تبلیغات</p>
        <hr>
        {% if serie %}
                <ul>
                    {% for object in objecs %}
                    <li><a href="">{{ object.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
            <p>تبلیغی وجود ندارد. (نوشته نشده / غیرفعال شده)</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
