* {
    font-family: 'Vazir FD-WOL' !important;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #11191F;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
