{% load static %}
{% load post %}
{% load weblog_config %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{% meta_description %}">
        <meta name="keywords" content="{% meta_keywords %}">
        <meta name="author" content="{% meta_author %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="revised" content="{% meta_revised %}">
        {% block meta_tag %}{% endblock meta_tag %}
        <link rel="icon" href="/media/{% icon %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
        {% block header_src %}{% endblock header_src %}
        <title>{% site_title %} &#x2022; {% block title %}{% endblock title %}</title>
    </head>
    <body class="container">
        {% include 'include/header.html' %}

        <div class="row content">
            <div class="column left">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="column right">
                {% include 'include/sidebar.html' %}
            </div>
        </div>

        {% include 'include/footer.html' %}
        {% block footer_src %}{% endblock footer_src %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <script>
            hljs.highlightAll();
        </script>
    </body>
</html>
