{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="وبلاگ وراسیوس، وبلاگی با تابعیت از جامعه آزاد نرم افزاری، محتوا های حوضه کامپیوتر و برنامه نویسی">
        <meta name="keywords" content="programming, coding, programming languages, python, django, web, internet, site, website, وراسیوس، برنامه نویسی، کد نویسی، زبان برنامه نویسی، مطالب برنامه نویسی، پست برنامه نویسی، وب، وبلاگ، سایت، وبسایت، جنگو، پایتون, voracious">
        <meta name="author" content="عمر فتاحی, Omar Fattahi">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="revised" content="2023/05/06">
        {% block meta_tag %}{% endblock meta_tag %}
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <title>وراسیوس | {% block title %}{% endblock title %}</title>
        {% block header_src %}{% endblock header_src %}
    </head>
    <body>
        {% include 'include/header.html' %}

        {% block content %}
        {% endblock content %}

        {% include 'include/footer.html' %}

        {% block footer_src %}{% endblock footer_src %}
    </body>
</html>
