{% extends 'layout.html' %}
{% load static %}

{% block title %}پست ها{% endblock title %}

{% block content %}
<div class="grid head">
    <div id="single-post">
    <article>
        <header>پست های تکی</header>
        {% if serie %}
                {% for object in single %}
                <a href="{% url 'post:single_posts_detail' object.slug %}">{{ object.title }}</a>
                <br>
                {% endfor %}
            {% else %}
            <p>پستی برای ارائه وجود ندارد. (پستی نوشته نشده / غیرفعال شده)</p>
        {% endif %}
    </article>
   </div>

  <div id="serie-post">
  <article>
      <header>پست های سریالی</header>
      {% if serie %}
              {% for object in serie %}
              <a href="{% url 'post:serie_posts_detail' object.slug %}">{{ object.title }}</a>
              <br>
              {% endfor %}
          {% else %}
          <p>پستی برای ارائه وجود ندارد. (پستی نوشته نشده / غیرفعال شده)</p>
      {% endif %}
  </article>
 </div>
</div>
{% endblock content %}
