{% extends 'layout.html' %}
{% load comment_tags %}

{% block title %}پست سریالی | {{ object.title }}{% endblock title %}

{% block content %}
<main class="" id="serie-post-detail">
    <section id="info">
        <h1 id="title">{{ object.title }}</h1>
        <p>نوشته شده ی <time>{{ object.pub_date }}</time></p>
        <p>بروز شده ی <time>{{ object.up_date }}</time></p>

        <p>نوشته ی <span>{{ object.author }}</span></p>

        <article class="">
            {{ object.content|safe }}
        </article>

        {% render_comments object request %}
    </section>

</main>
{% endblock content %}
