{% extends "layout.html" %} {% load jalali_tags %} {% block content %}

<p class="fs-1 text-center m-0 text-decoration-underline link-offset-1 fw-bold">
  پست های سریالی
</p>
<p class="fs-6 text-center mb-5 link-offset-1 fw-bold">
  پست ها به ترتیب انتشار لیست شده اند
</p>

{% for post in objects %}
<div class="card mb-2">
  <div class="card-body">
    <h1 class="card-title fs-3">{{ post.title }}</h1>
    <hr class="pt-2 pb-2" />
    <section class="card-subtitle text-body-secondary mb-5">
      <p><strong>توضیح مختصر</strong> {{ post.description|truncatewords:20 }}</p>
      <p>
        <strong>انتشار</strong>
        <time datetime="{{ post.pub_date|date:'Y-m-d H:i:s' }}">{{ post.pub_date|to_jalali:'%Y/%m/%d' }}</time>
      </p>
      <p>
        <strong>بروزرسانی</strong>
        <time datetime="{{ post.up_date|date:'Y-m-d H:i:s' }}">{{ post.up_date|to_jalali:'%Y/%m/%d' }}</time>
      </p>
      <p>
        <strong>دسته بندی</strong>
        {% for category in post.category.all %}
        <span class="badge text-white bg-dark"><a href="{% url 'category:child_categories' category.id  %}" class="text-white">{{ category.title }}</a></span>
        {% endfor %}
      </p>
      <p>
        <strong>برچسب</strong>
        {% for tag in post.tag.all %}
        <span class="badge badge-dark">{{ tag.title }}</span>
        {% endfor %}
      </p>
    </section>
    <a href="{% url 'post:serie_posts_detail' post.id %}" class="card-link fw-bolder text-warning">«مطالعه پست»</a>
  </div>
</div>
{% endfor %} {% endblock content %}