{% extends 'layout.html' %}
{% load comment_tags %}

{% block title %} تک پست &#x2022; {{ object.title }} {% endblock title %}

{% block content %}
<div class="article">
    <h1 id="title">{{ object.title }}</h1>

    <article id="article">
        {{ object.content|safe }}
    </article>
    <hr>
    <summary>
        <p id="time">
            <span id="pub_date">زمان انتشار: <time>{{ object.pub_date|date:'Y/m/d' }}</time></span>
            {% if object.up_date > object.pub_date %}
                <span id="up_date">زمان بروزرسانی: <time>{{ object.up_date|date:'Y/m/d' }}</time></span>
            {% endif %}
        </p>
        <p id="group">
            <span id="category">دسته بندی: {% for category in object.category.all %} <a href="#">{{ category.title }} </a> | {% endfor %}</span>
            <span id="tag">برچسب: {% for tag in object.tag.all %} <a href="#">{{ tag.title }} </a> | {% endfor %}</span>
        </p>
    </summary>
    <section class="comment">
        <p>نظرات</p>
        {% render_comments object request %}
    </section>
</div>
{% endblock content %}
