{% extends "layout.html" %} {% load jalali_tags %} {% block content %}

<p class="fs-1 text-center m-0 text-decoration-underline link-offset-1 fw-bold">
  پست های تکی
</p>
<p
  class="fs-6 text-center mb-5 link-offset-1 fw-bold"
>
  پست ها به ترتیب انتشار لیست شده اند
</p>

<div class="row">
  {% for post in objects %}
  <div
    class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-3 px-1 py-1"
  >
    <div class="card">
      <div class="card-body">
        <h1 class="card-title fs-5 fw-bolder">{{ post.title }}</h1>
        <hr class="pt-2 pb-2" />
        <section class="card-subtitle text-body-secondary">
          <p class="d-flex justify-content-between p-0 m-0">
            <span class="fw-bolder">انتشار</span>
            <time class="fw-light" datetime="{{ post.pub_date|date:'Y-m-d H:i:s' }}"
              >{{ post.pub_date|to_jalali:'%Y/%m/%d' }}</time
            >
          </p>
          <p class="d-flex justify-content-between p-0 m-0">
            <span class="fw-bolder">بروزرسانی</span>
            <time class="fw-light" datetime="{{ post.pub_date|date:'Y-m-d H:i:s' }}"
              >{{ post.up_date|to_jalali:'%Y/%m/%d' }}</time
            >
          </p>
          <br />
        </section>
        <a
          href="{% url 'post:single_posts_detail' post.id %}"
          class="card-link fw-bolder text-warning"
          >«مطالعه پست»</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
