{% extends "layout.html" %} {% load jalali_tags %} {% block content %}
<h1 class="text-2xl text-center pb-4">لیست پست های تکی</h1>
<p class="text-center text-sm pb-6 text-yellow-300">
  «پست ها از جدیدترین به قدیمی ترین لیست شده اند»
</p>
<hr />
<div class="list-posts pt-10">
  <table class="table-fixed text-center">
    <caption class="caption-bottom text-sm font-thin text-blue-300">
        «لیست پست های تکی وبلاگ»
    </caption>
    <thead>
      <tr>
        <th class="px-8 pb-4">پست</th>
        <th class="px-8 pb-4">انتشار</th>
        <th class="px-8 pb-4">بروز رسانی</th>
        <th class="px-8 pb-4">دسته بندی</th>
        <th class="px-8 pb-4">برچسب</th>
      </tr>
    </thead>
    <tbody>
      {% for post in objects %}
      <tr>
        <td class="px-8"><a href="{% url 'post:single_posts_detail' post.id %}">{{ post.title }}</a></td>
        <td class="px-8">{{ post.pub_date|to_jalali:'%Y/%m/%d' }}</td>
        <td class="px-8">{{ post.up_date|to_jalali:'%Y/%m/%d' }}</td>
        <td class="px-8">{% for category in post.category.all %} - {{ category.title }}{% endfor %}</td>
        <td class="px-8">{% for tag in post.tag.all %}{{ tag.title }} - {% endfor %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
